*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(197, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}
.title {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.controls{
    display: flex;
    gap: 10em;
    margin-top: 2em;
}
.work,.break{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controls-work,.controls-break{
    display: flex;
}
.display{
    font-family: "Luckiest Guy", cursive;
    margin-top: 2em;
    color: yellow;
    font-size: 30px;
}
#clock{
    margin-top: 2em;
    position: relative;
    display: flex;
    justify-content: center;
}
#clock:hover{
    cursor: pointer;
}
.background-clock,.block-rectangle,.border-clock{
    position: absolute;
    height: 300px;
    width: 300px;
}
.background-clock{
    background-color: red;
    border-radius: 100%;
}
.block-rectangle{
    background-color: rgb(197, 196, 196);
    width: 300px;
}
.border-clock{
   border: 4px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}