<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Edit info</h1>
     <form action="/update/post/<%=response._id%>" method="post">
        <label for="">Title</label>
        <input type="text" name="title" id="title" value="<%=response.title%>">
        <br>
        <label for="postText">Post:</label>
        <br>
        <textarea name="postText" id="postText" cols="30" rows="10"><%=response.postText%></textarea>
        <button type="submit">Submit</button>
     </form>
</body>
</html>