<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Log in here</h1>
    <form action="/post/login" method="post">
        <label for="username" id="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password" id="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>