<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Edit info</h1>
     <form action="/put/post/<%=post._id%>" method="post">
         <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%=post.title%>"  maxlength="15">
        <br>
        <label for="message">Post:</label>
        <br>
        <textarea name="message" id="message" cols="30" rows="10" maxlength="40"><%=post.message%></textarea>
        <button type="submit">Submit</button>
     </form>
</body>
</html>